:root {
    --gold:#C9A85C;
    --black:#030303;
    --glass:#D9D9D920;
    --light-blue:#F8FAFD;
    --heading-one:90px;
    --mobile-heading-one:70px;
    --heading-two:50px;
    --mobile-heading-two:40px;
    --card-title:30px;
    --mobile-card-title:25px;
    --price:40px;
    --mobile-price:40px;
    --text:18px;
    --mobile-text:16px;
}

@font-face {
    font-family: customFont;
    src: url(../Adieu-Regular.ttf);
}
*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
button {
    font-family: customFont;
    line-height:1;
}

p {
    line-height:1.75;
    font-size:var(--text);
}

h2 {
    font-size:var(--heading-two);
}

h1 {
    font-size:var(--heading-one);
    color:var(--black);
    text-align:left;
    position:relative;
}

main,
header,
footer,
section {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    max-width:1440px;
    width:100%;
    padding:8rem 4rem;
}

a {
    color:var(--black);
    text-decoration: none;
}
ul {
    list-style:none;
}

button {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap:1rem;
    cursor:pointer;
    background-color:transparent;
    color:var(--gold);
    border:none;
}
button img {
    width:50px;
}
button span {
    display:flex;
    align-items: center;
}
/****** Dropdown ******/

.dropdown {
    position:relative !important;
    display:none;
    z-index:1000 !important;
}
.dropdown-menu {
    position:absolute;
    right:0;
    top:calc(100% + 0.5rem);
    padding:1.5rem;
    background-color:#030303;
    box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.1);
    display:grid;
    grid-template-columns:1fr 1fr;
    width:max-content;
    opacity:0;
    transform:translateY(-1rem);
    transition:opacity 0.5s, transform 0.5s;
    pointer-events:none;
    gap:2rem;
    border-radius:0.5rem;
   
}





.dropdown-heading > a {
    font-weight:700 !important;
    color:white !important;

}
.dropdown-links {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}
.dropdown-links a {
    font-weight:300 !important;
    color:white !important;

}
.div {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}
.menu {
    width:30px;
    display:none;
    cursor:pointer;
}
.dropdown.active > .link + .dropdown-menu {
    opacity:1;
    transform:translateY(0);
    pointer-events:all;
    transition:opacity 0.5s, transform 0.5s;

}
.menu + .dropdown-menu {
    padding-block:2rem;
    display:none;
    color:white !important;

}
.dropdown-heading > p {
    font-weight:700 !important;
    color:white !important;

}
.dropdown > a {
    font-weight:300 !important;
    color:white !important;
}
@media (max-width:1268px) {
    nav ul {
        display:none;
    }
    .dropdown {
        display:block;
    }
    .menu + .dropdown-menu {
        padding-block:2rem;
        display:grid;
    }
    .menu {
        display:block;
    }
    nav {
        display:flex;
        justify-content: flex-end;
    }
}
@media (max-width:500px) {
    .header-wrapper {
        padding-inline:1rem;
    }
    .dropdown-menu {
        grid-template-columns:1fr;
    }
}
/* Header */
.menu {
    width:50px;
    display:none;
}
header {
    position:absolute;
    z-index:1000;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter:blur(10px) ;
}
.header-wrapper {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    max-width:1440px;
    padding:2rem 4rem;
}
.header-wrapper ul {
    display:flex;
    align-items: center;
    gap:2rem;
    margin-right:0.5rem;
    color:white;
}
nav {
    display:flex;
    align-items: center;
    gap:1rem;
}
nav li {
    color:white;
}
nav button {
    display:block;
    padding:0.5rem 1rem;
    background-color:white;
    color:var(--black);
    border:2px solid white;
}
nav a:nth-child(3)  button{
    background-color:transparent;
    color:white;
}
.logo-container img {
    width:125px;
}
@media (max-width:1268px) {
    nav {
        display:none;
    }
    .menu {
        display:block;
    }
}
@media (max-width:700px) {
    .header-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .header-wrapper {
        padding-inline:1rem;
    }
}
/* Main */
main {
    background-color:white;
    background-image: linear-gradient(to right, #030303, #03030300 50%), url(../gm-motors-png-valet/patrick-tomasso-CP1cKFIl7qc-unsplash1.png);
    background-size:cover;
    background-position:center;


}
main p {
    max-width:25ch;
}
main h1 {
    color:white;
}
main .wrapper {
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    min-height:680px;
    gap:2rem;
    color:white;
}



@media (max-width:1267px) {
   
    nav {
        display:none;
    }
}

@media (max-width:700px) {
    main .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:600px) {
    main h1 {
        font-size:var(--mobile-heading-one);
    }
    main p {
        font-size:var(--mobile-text);
    }
}
@media (max-width:500px) {
    main .wrapper {
        padding-inline:1rem;
    }
   
}

/* Intro */

.introduction-section .wrapper {
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.introduction-section .column p span,
.introduction-section .column p {
    display:flex;
    align-items: center;
    gap:0.5rem;
}
.introduction-section .column {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:2rem;
}
@media (max-width:1186px) {
    .introduction-section .column:nth-child(3) {
        display:none;
    }
    .introduction-section .wrapper {
        grid-template-columns: 1fr 2fr;
    }
    .introduction-section .column:nth-child(2) {
        width:100%;
    }
}
@media (max-width:741px) {
    .introduction-section .wrapper {
        grid-template-columns: 1fr;
    }
    .introduction-section .column {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
@media (max-width:700px) {
    .introduction-section .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:600px) {
    .introduction-section .wrapper h2 {
        font-size:var(--mobile-heading-two);
    }
    .introduction-section .wrapper p {
        font-size:var(--mobile-text);
    }
}
@media (max-width:500px) {
    .introduction-section .wrapper {
        padding-inline:1rem;
    }
}
/* .selector-absolute {
    width:calc(100% + 4rem );
    position:absolute;
    top:50%;
    left:calc(50% + 4rem);
    transform:translate(-50%, -50%);
    border-radius: 20rem 0rem 0rem 20rem;
    opacity:0;
    pointer-events:none;
    transition:500ms;
}
*/

/* Valet */
.valet-section {
    background-color:white;
}

.valet-section .wrapper {
    display:flex;
    align-items: center;
    gap:4rem;
}
.valet-list img {
    width:30px;
}
.valet-left,
.valet-right {
    width:50%;
}
.valet-left img {
    width:100%;
}
.valet-right {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:4rem;
}
.valet-right p:nth-of-type(1),
.valet-right p span {
    display:flex;
    align-items: center;
    gap:0.5rem;
}
.valet-titles {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.valet-right > p:nth-of-type(1) {
    margin-bottom:-1rem;
}
.valet-list {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
}
.valet-list p {
    line-height:1.2;
}
.valet-list-item {
    display:flex;
    align-items: center;
    gap:0.5rem;
}
.valet-titles p:nth-of-type(2) {
    margin-top:2rem;
}

.valet-section:nth-of-type(3) .wrapper,
.valet-section:nth-of-type(5) .wrapper {
    flex-direction: row-reverse;
}
.valet-section:nth-of-type(3),
.valet-section:nth-of-type(5){
    background-color:var(--light-blue);
}


/* Full */
/* Full */
.full-section .wrapper {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:0;
    padding-inline:0;
    padding-bottom:0;
}
.full-item {
    /* width:50%; */
}
.full-section a:nth-child(1) .full-item {
    background-image: linear-gradient(#03030350, #03030350), url(../gm-motors-png-valet/erik-mclean-D-eFjDWxIQs-unsplash1.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.full-section a:nth-child(2) .full-item {
    background-image: linear-gradient(#03030350, #03030350), url(../gm-motors-png-valet/nischal-kanishk-J75-n2L1Nu4-unsplash2.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.full-item {
    width:100%;
    color:white;
    padding-inline:2rem;
    padding-top:32rem;
    padding-bottom:2rem;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:0.5rem;
}
.full-item p:nth-of-type(1) {
    font-weight:700;
    font-size:var(--card-title);
    line-height:1;
}
.full-item p:nth-of-type(2) {
    font-size:var(--text);
    max-width:40ch;
    line-height:1.5;
}
@media (max-width:950px) {
    .full-section .wrapper {
        display:grid;
        grid-template-columns: 1fr;
        gap:0;
        padding-inline:0;
    }
}
@media (max-width:600px) {
    .full-item p:nth-of-type(1) {
        font-weight:700;
        font-size:var(--mobile-card-title);
    }
    .full-item p:nth-of-type(2) {
        font-size:var(--mobile-text);
        max-width:40ch;
    }
}
@media (max-width:500px) {
    .full-item {
        padding-inline:1rem;
    }
}
/* CTA */
.cta-section {
    background: white;
}
.cta-section .wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2rem;
    padding-block:12rem;
}
.cta-section h2 {
    font-size:var(--heading-one);
    text-align: center;
    line-height:1;
    max-width:10ch;
}
.cta-section button {
    background-color:var(--black);
    color:white;
    border:2px solid var(--black);
    padding:0.75rem 4rem;
}
@media (max-width:700px) {
    .cta-section .wrapper {
        padding-inline:2rem;
    }
    .cta-section h2 {
        font-size:65px;
    }
}
@media (max-width:600px) {
    .cta-section h2 {
        font-size: var(--mobile-heading-two);
    }
}
@media (max-width:500px) {
    .cta-section .wrapper {
        padding-inline:1rem;
    }
    .cta-section button {
        padding-inline:2rem;
    }
}
/* Valet Medias */
@media (max-width:1186px) {
    .valet-section .wrapper {
        flex-direction: column;
    }
    .valet-section:nth-of-type(3) .wrapper,
    .valet-section:nth-of-type(5) .wrapper {
    flex-direction: column;
    }
    .valet-section:nth-of-type(3) .wrapper .valet-left img,
    .valet-section:nth-of-type(5) .wrapper .valet-left img {
        border-radius:0rem;
        margin-left:0rem;
        margin-right:0rem;
    }
    .valet-right > p:nth-of-type(1) {
        margin-bottom:-2rem;
    }
    .valet-left,
    .valet-right {
        width:100%;
        gap:2rem;
    }
    .valet-right p:nth-of-type(2) {
        max-width:80ch;
    }
    .valet-left img {
        border-radius:0;
        margin-left:0;
        margin-right:0;
        width:100%;
    }
   
}

@media (max-width:700px) {
    .valet-section .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:600px) {
    .valet-section .wrapper h2 {
        font-size:var(--mobile-heading-two);
    }
    .valet-section .wrapper p {
        font-size:var(--mobile-text);
    }
}
@media (max-width:500px) {
    .valet-section .wrapper {
        padding-inline:1rem;
    }
    .valet-list {
        grid-template-columns: 1fr;
    }
    .valet-list img {
        width:25px;
    }
}

 /* Footer */
 footer {
    background-color:white;
 }

 footer img {
    width:100px;
}
footer .wrapper {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:2rem;
    padding-bottom:4rem;
}
footer .logo {
    display:flex;
    align-items: center;
}
.footer-top {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.footer-top ul {
    display:flex;
    align-items: center;
    gap:2rem;
    justify-content: flex-end;
}
.footer-bottom {
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
    width:100%;
    border-top:1px solid black;
    padding-top:4rem;
}
footer a,
footer p {
    color:black;
}
.footer-bottom a {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:0.5rem;
}
footer p {
    font-size:16px;
}
footer button {
    background-color:transparent;
    border:2px solid var(--black);
    padding:0.5rem 2rem;
    color:var(--black);
}
footer a:nth-child(6) button {
    background-color:var(--black);
    border:2px solid var(--black);
    padding:0.5rem 2rem;
    color:white;
}


@media (max-width:1050px) {
    footer .wrapper {
        padding-inline:2rem;
    }
    .footer-top,
    .footer-bottom {
        flex-direction:column;
        gap:4rem;
        justify-content: center;
        align-items: center;
    }
    .footer-bottom a {
        align-items: center;
        justify-content: center;
    }
    .footer-top ul {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:600px) {
    .doctor-section h2 {
        font-size:var(--mobile-heading-twp);
    }
    .doctor-list-item p {
        font-weight:700;
        font-size:var(--mobile-card-heading);
    }
    
}
@media (max-width:500px) {
    footer .wrapper {
        padding-inline:1rem;
    }
}
body {
    overflow-x:hidden;
}
body {
    background-color:white;
}
.introduction-section .column:nth-child(2) p {
    display:block !important;
}