:root {
    --gold:#C9A85C;
    --black:#030303;
    --glass:#D9D9D920;
    --light-blue:#F8FAFD;
    --heading-one:90px;
    --mobile-heading-one:40px;
    --heading-two:40px;
    --mobile-heading-two:30px;
    --card-title:30px;
    --mobile-card-title:25px;
    --price:40px;
    --mobile-price:40px;
    --text:18px;
    --mobile-text:16px;
}
body {
    background-color:var(--light-blue);
}
@font-face {
    font-family: customFont;
    src: url(../Adieu-Regular.ttf);
}
*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
button {
    font-family: customFont;
    line-height:1;
}

p {
    line-height:1.75;
    font-size:var(--text);
}

h2 {
    font-size:var(--heading-two);
}

h1 {
    font-size:var(--heading-one);
    color:var(--black);
    text-align:left;
    position:relative;
}

main,
header,
footer,
section {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    max-width:1440px;
    width:100%;
    padding:8rem 4rem;
}

a {
    color:var(--black);
    text-decoration: none;
}
ul {
    list-style:none;
}

button {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap:1rem;
    cursor:pointer;
    background-color:transparent;
    color:var(--gold);
    border:none;
}
button img {
    width:50px;
}
button span {
    display:flex;
    align-items: center;
}

/****** Dropdown ******/

.dropdown {
    position:relative !important;
    display:none;
    z-index:1000 !important;
}
.dropdown-menu {
    position:absolute;
    right:0;
    top:calc(100% + 0.5rem);
    padding:1.5rem;
    background-color:#262626;
    box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.1);
    display:grid;
    grid-template-columns:1fr 1fr;
    width:max-content;
    opacity:0;
    transform:translateY(-1rem);
    transition:opacity 0.5s, transform 0.5s;
    pointer-events:none;
    gap:2rem;
    border-radius:0.5rem;
   
}





.dropdown-heading > a {
    font-weight:700 !important;
    color:white !important;

}
.dropdown-links {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}
.dropdown-links a {
    font-weight:300 !important;
}
.div {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}
.menu {
    width:30px;
    display:none;
    cursor:pointer;
}
.dropdown.active > .link + .dropdown-menu {
    opacity:1;
    transform:translateY(0);
    pointer-events:all;
    transition:opacity 0.5s, transform 0.5s;

}
.menu + .dropdown-menu {
    padding-block:2rem;
    display:none;
}
.dropdown-heading > p {
    font-weight:700 !important;
}
.dropdown > a {
    font-weight:300 !important;
}
@media (max-width:1000px) {
    nav ul {
        display:none;
    }
    .dropdown {
        display:block;
    }
    .menu + .dropdown-menu {
        padding-block:2rem;
        display:grid;
    }
    .menu {
        display:block;
    }
    nav {
        display:flex;
        justify-content: flex-end;
    }
}
@media (max-width:500px) {
    .header-wrapper {
        padding-inline:1rem;
    }
    .dropdown-menu {
        grid-template-columns:1fr;
    }
}

/* Header */
.menu {
    width:50px;
    display:none;
}
header {
    position:fixed;
    z-index:1000;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter:blur(10px) ;
}
.header-wrapper {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    max-width:1440px;
    padding:2rem 4rem;
}
.header-wrapper ul {
    display:flex;
    align-items: center;
    gap:2rem;
    margin-right:0.5rem;
    color:white;
}
nav {
    display:flex;
    align-items: center;
    gap:1rem;
}
nav button {
    display:block;
    padding:0.5rem 1rem;
    background-color:var(--black);
    color:white;
    border:2px solid var(--black);
}
nav a:nth-child(3)  button{
    background-color:transparent;
    color:var(--black);
}

.logo-container img {
    width:75px;
}
@media (max-width:1268px) {
    nav {
        display:none;
    }
    .menu {
        display:block;
    }
}
@media (max-width:700px) {
    .header-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .header-wrapper {
        padding-inline:1rem;
    }
}
/* Main */

main p {
    max-width:25ch;
}
main .wrapper {
    display:flex;
    align-items: center;
    padding-right:0;
    padding-block:4rem;
}
.main-left {
    width:60%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:2rem;
}
.main-right {
    width:40%;
    margin-left:-24rem;
    position:relative;
    z-index:2;
    margin-top:6rem;
}
.main-right img {
    width:175%;
}
@media (max-width:1414px) {
    main h1 {
        font-size:80px;
    }
}

@media (max-width:1267px) {
    main .wrapper {
        flex-direction: column-reverse;
        align-items: flex-start;
        padding-block:8rem;
        gap:4rem;
    }
    .main-right {
        width:100%;
        margin-left:0;
        margin-top:0rem;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .main-right img {
        width:80%;
    }
    .main-left {
        width:100%;
    }
    nav {
        display:none;
    }
}
@media (max-width:881px) {
    main h1 {
        font-size:70px;
    }
}
@media (max-width:779px) {
    main h1 {
        font-size:60px;
    }
}
@media (max-width:700px) {
    main .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:600px) {
    main h1 {
        font-size:var(--mobile-heading-one);
    }
    main p {
        font-size:var(--mobile-text);
    }
}
@media (max-width:500px) {
    main .wrapper {
        padding-inline:1rem;
    }
}
/* Full */
.full-section .wrapper {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:0;
    padding-inline:0;
}
.full-item {
    /* width:50%; */
}
.full-item:nth-child(1) {
    background-image: linear-gradient(#03030350, #03030350), url(../gm-motors-png-sales/austin-neill-fLHjTTLURYg-unsplash1.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.full-item:nth-child(2) {
    background-image: linear-gradient(#03030350, #03030350), url(../gm-motors-png-sales/wendell-fernandes-AiaamjU8-UY-unsplash1.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.full-item {
    width:100%;
    color:white;
    padding-inline:2rem;
    padding-top:32rem;
    padding-bottom:2rem;
}
.full-item p:nth-of-type(1) {
    font-weight:700;
    font-size:var(--card-title);
}
.full-item p:nth-of-type(2) {
    font-size:var(--text);
    max-width:40ch;
}
@media (max-width:741px) {
    .full-section .wrapper {
        display:grid;
        grid-template-columns: 1fr;
        gap:0;
        padding-inline:0;
    }
}
@media (max-width:600px) {
    .full-item p:nth-of-type(1) {
        font-weight:700;
        font-size:var(--mobile-card-title);
    }
    .full-item p:nth-of-type(2) {
        font-size:var(--mobile-text);
        max-width:40ch;
    }
}
@media (max-width:500px) {
    .full-item {
        padding-inline:1rem;
    }
}

/* Featured Vehicles */

.featured-section .wrapper {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:8rem;
}
.featured-top {
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap:2rem;
    width:100%;
}
.featured-top span,
.featured-top p {
    display:flex;
    align-items: center;
    gap:0.5rem;
}
.featured-bottom-grid {
    display:grid;
    width:100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap:2rem;
}
.featured-item-card {
    min-height:400px;
    background-image: url(../sales-images/blake-carpenter-Lej8yo3gwqs-unsplash1.png);
    background-size:cover;
    background-position: center;
    color:white;
}
.featured-item-card:nth-child(2) {
    min-height:400px;
    background-image: url(../sales-images/lance-anderson-uA03ucYoj54-unsplash2.png);
    background-size:cover;
    background-position: center;
    color:white;
}
.featured-item-card:nth-child(3) {
    min-height:400px;
    background-image: url(../sales-images/paulius-dragunas-0Rh6XVytIEE-unsplash1.png);
    background-size:cover;
    background-position: center;
    color:white;
}
.featured-item-card:nth-child(4) {
    min-height:400px;
    background-image: url(../sales-images/serjan-midili-lXvNv536CJk-unsplash1.png);
    background-size:cover;
    background-position: center;
    color:white;
}
.featured-item-card:nth-child(5) {
    min-height:400px;
    background-image: url(../sales-images/stephan-louis-m8mypQp7Sg0-unsplash1.png);
    background-size:cover;
    background-position: center;
    color:white;
}
.featured-item-card:nth-child(6) {
    min-height:400px;
    background-image: url(../sales-images/taun.png);
    background-size:cover;
    background-position: center;
    color:white;
}
.featured-item-card-top {
    background-color:#03030350;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1rem;
    padding:1rem;
    backdrop-filter: blur(5px);
}
.featured-item-card-top p {
    line-height:1;
}
.featured-item-card-top button {
    border:2px solid white;
    padding:0.5rem 2rem;
    color:var(--black);
    background-color:white;
    width:100%;
}
.featured-item-card-top button:nth-child(2) {
    border:2px solid white;
    padding:0.5rem 2rem;
    color:white;
    background-color:transparent;
    width:100%;
}
.bottom-bottom {
    display:flex;
    gap:0.5rem;
    width:100%;
    margin-top:0.5rem;
}
.top-top {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
}
.top-top p:nth-of-type(1) {
    font-size:22px;
    font-weight:700;
}
.top-top p:nth-of-type(2) {
    font-size:var(--price);
    color:white;
    font-weight:700;
}
.middle-middle {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    width:100%;
}
@media (max-width:1186px) {
    .featured-bottom-grid {
        display:grid;
        width:100%;
        grid-template-columns: 1fr 1fr;
        gap:2rem;
    }
    .featured-top {
        grid-template-columns: 1fr !important;
        gap:0;
    }
   
}

@Media (max-width:741px) {
    .featured-bottom-grid {
        display:grid;
        width:100%;
        grid-template-columns: 1fr;
        gap:2rem;
    }
}

@media (max-width:700px) {
    .featured-section .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:600px) {
    .featured-section .wrapper h2 {
        font-size:var(--mobile-heading-two);
    }
    .featured-top  p {
        font-size:var(--mobile-text);
    }
}
@media (max-width:500px) {
    .featured-section .wrapper {
        padding-inline:1rem;
    }  
}
@media(max-width:350px) {
    .bottom-bottom {
        flex-direction: column;
    }
    .top-top {
        flex-direction: column;
        align-items: flex-start;
        gap:0.5rem;
    }
    .bottom-bottom button {
        align-items: center;
        justify-content: center;
    }
}

/* Shop All */

.all-cars-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width:100%;
    gap:2rem;
}
.all-cars-section .wrapper {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:8rem;
}
.all-cars-top {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width:100%;
    gap:2rem;
}
.all-cars-top .column  {
    display:flex;
    flex-direction: column;
}

.all-cars-top .column:nth-child(1) {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.all-cars-top .column:nth-child(2) {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.all-cars-top span,
.all-cars-top p {
    display:flex;
    align-items: center;
    gap:0.5rem;
}
@media (max-width:1186px) {
   .all-cars-top {
    grid-template-columns: 1fr;
    gap:0;
   }
   .all-cars-grid {
    grid-template-columns: 1fr 1fr;
   }
   
}

@Media (max-width:741px) {
    .all-cars-grid {
        grid-template-columns: 1fr;
       }
}

@media (max-width:700px) {
    .all-cars-section .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:600px) {
    .all-cars-section .wrapper h2 {
        font-size:var(--mobile-heading-two);
    }
    .all-cars-top  p {
        font-size:var(--mobile-text);
    }
}
@media (max-width:500px) {
    .all-cars-section .wrapper {
        padding-inline:1rem;
    }  
}


/* Book */

.book-drive-section {
    background-color:white;
}

.book-drive-section .wrapper {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:8rem;
}
fieldset {
    border:none;
}
.book-drive-top {
    display:grid;
}
form {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    align-self:center;
    width:48%;
    gap:1rem;
}
fieldset {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width:100%;
    gap:0.5rem;
}
form img {
    width:100%;
}

input,
textarea,
select {
    width:100%;
    padding:0.5rem;
    background-color:var(--light-blue);
    color:var(--black);
    border:none;
}
label {
    font-weight:500;
}
.row {
    flex-direction: row;
    align-items: center;
    gap:0.5rem;
}
@media (max-width:1186px) {
    form {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        align-self:flex-start;
        width:100%;
        gap:1rem;
    }
    
 }
 
 @Media (max-width:741px) {
    
 }
 
 @media (max-width:700px) {
     .book-drive-section .wrapper {
         padding-inline:2rem;
     }
 }
 @media (max-width:600px) {
     .book-drive-section .wrapper h2 {
         font-size:var(--mobile-heading-two);
     }
     .book-drive-top  p {
         font-size:var(--mobile-text);
     }
 }
 @media (max-width:500px) {
     .book-drive-section .wrapper {
         padding-inline:1rem;
     }  
 }