:root {
    --gold:#C9A85C;
    --black:#030303;
    --glass:#D9D9D920;
    --light-blue:#F8FAFD;
    --heading-one:90px;
    --mobile-heading-one:40px;
    --heading-two:40px;
    --mobile-heading-two:30px;
    --card-title:30px;
    --mobile-card-title:25px;
    --price:40px;
    --mobile-price:40px;
    --text:18px;
    --mobile-text:16px;
}
body {
    background-color:var(--light-blue);
}
@font-face {
    font-family: customFont;
    src: url(../Adieu-Regular.ttf);
}
*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
button {
    font-family: customFont;
    line-height:1;
}

p {
    line-height:1.75;
    font-size:var(--text);
}

h2 {
    font-size:var(--heading-two);
}

h1 {
    font-size:var(--heading-one);
    color:var(--black);
    text-align:left;
    position:relative;
}

main,
header,
footer,
section {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    max-width:1440px;
    width:100%;
    padding:8rem 4rem;
}

a {
    color:var(--black);
    text-decoration: none;
}
ul {
    list-style:none;
}

button {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap:1rem;
    cursor:pointer;
    background-color:transparent;
    color:var(--gold);
    border:none;
}
button img {
    width:50px;
}
button span {
    display:flex;
    align-items: center;
}
/****** Dropdown ******/

.dropdown {
    position:relative !important;
    display:none;
    z-index:1000 !important;
}
.dropdown-menu {
    position:absolute;
    right:0;
    top:calc(100% + 0.5rem);
    padding:1.5rem;
    background-color:#262626;
    box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.1);
    display:grid;
    grid-template-columns:1fr 1fr;
    width:max-content;
    opacity:0;
    transform:translateY(-1rem);
    transition:opacity 0.5s, transform 0.5s;
    pointer-events:none;
    gap:2rem;
    border-radius:0.5rem;
   
}





.dropdown-heading > a {
    font-weight:700 !important;
    color:white !important;

}
.dropdown-links {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}
.dropdown-links a {
    font-weight:300 !important;
    color:white !important;

}
.div {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}
.menu {
    width:30px;
    display:none;
    cursor:pointer;
}
.dropdown.active > .link + .dropdown-menu {
    opacity:1;
    transform:translateY(0);
    pointer-events:all;
    transition:opacity 0.5s, transform 0.5s;

}
.menu + .dropdown-menu {
    padding-block:2rem;
    display:none;
    color:white !important;

}
.dropdown-heading > p {
    font-weight:700 !important;
    color:white !important;

}
.dropdown > a {
    font-weight:300 !important;
    color:white !important;
}
@media (max-width:1268px) {
    nav ul {
        display:none;
    }
    .dropdown {
        display:block;
    }
    .menu + .dropdown-menu {
        padding-block:2rem;
        display:grid;
    }
    .menu {
        display:block;
    }
    nav {
        display:flex;
        justify-content: flex-end;
    }
}
@media (max-width:500px) {
    .header-wrapper {
        padding-inline:1rem;
    }
    .dropdown-menu {
        grid-template-columns:1fr;
    }
}
/* Header */
.menu {
    width:50px;
    display:none;
}
header {
    position:fixed;
    z-index:1000;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter:blur(10px) ;
}
.header-wrapper {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    max-width:1440px;
    padding:2rem 4rem;
}
.header-wrapper ul {
    display:flex;
    align-items: center;
    gap:2rem;
    margin-right:0.5rem;
    color:white;
}
nav {
    display:flex;
    align-items: center;
    gap:1rem;
}
nav button {
    display:block;
    padding:0.5rem 1rem;
    background-color:var(--black);
    color:white;
    border:2px solid var(--black);
}
nav a:nth-child(3)  button{
    background-color:transparent;
    color:var(--black);
}
.logo-container img {
    width:75px;
}
@media (max-width:1268px) {
    nav {
        display:none;
    }
    .menu {
        display:block;
    }
}
@media (max-width:700px) {
    .header-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .header-wrapper {
        padding-inline:1rem;
    }
}
/* Main */
main {
    background-color:white;
}
main p {
    max-width:25ch;
}
main .wrapper {
    display:flex;
    align-items: center;
    padding-right:0;
    padding-block:4rem;
}
.main-left {
    width:60%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:2rem;
}
.main-right {
    width:40%;
    margin-left:-18rem;
    position:relative;
    z-index:2;
    margin-top:6rem;
}
.main-right img {
    width:150%;
}
@media (max-width:1414px) {
    main h1 {
        font-size:80px;
    }
}

@media (max-width:1267px) {
    main .wrapper {
        flex-direction: column-reverse;
        align-items: flex-start;
        padding-block:8rem;
        gap:4rem;
    }
    .main-right {
        width:100%;
        margin-left:0;
        margin-top:0rem;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .main-right img {
        width:80%;
    }
    .main-left {
        width:100%;
    }
    nav {
        display:none;
    }
}
@media (max-width:881px) {
    main h1 {
        font-size:70px;
    }
}
@media (max-width:779px) {
    main h1 {
        font-size:60px;
    }
}
@media (max-width:700px) {
    main .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:600px) {
    main h1 {
        font-size:var(--mobile-heading-one);
    }
    main p {
        font-size:var(--mobile-text);
    }
}
@media (max-width:500px) {
    main .wrapper {
        padding-inline:1rem;
    }
}
/* CTA */
.cta-section .wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2rem;
    padding-block:12rem;
}
.cta-section h2 {
    font-size:var(--heading-one);
    text-align: center;
    line-height:1.2;
}
.cta-section button {
    background-color:var(--black);
    color:white;
    border:2px solid var(--black);
    padding:0.75rem 4rem;
}
@media (max-width:700px) {
    .cta-section .wrapper {
        padding-inline:2rem;
    }
    .cta-section h2 {
        font-size:65px;
    }
}
@media (max-width:600px) {
    .cta-section h2 {
        font-size: var(--mobile-heading-one);
    }
}
@media (max-width:500px) {
    .cta-section .wrapper {
        padding-inline:1rem;
    }
    .cta-section button {
        padding-inline:2rem;
    }
}

/* Recovery */
.recovery-section .wrapper {
    display:flex;
    align-items: center;
    gap:4rem;
}
.recovery-left {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:2rem;
    width:45%;
}
.recovery-right {
    width:55%;
}
.recovery-right img {
    width:100%;
}
.recovery-list {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1rem;
}
.recovery-list-item {
    display:flex;
    align-items: center;
    gap:1rem;
}
.recovery-left-top {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:0.5rem;
}
@media (max-width:1186px) {
    .recovery-section .wrapper {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .recovery-right,
    .recovery-left {
        width:100%;
    }
   
}

@media (max-width:700px) {
    .recovery-section .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:600px) {
    .recovery-section .wrapper h2 {
        font-size:var(--mobile-heading-two);
    }
    .recovery-section .wrapper p {
        font-size:var(--mobile-text);
    }
}
@media (max-width:500px) {
    .recovery-section .wrapper {
        padding-inline:1rem;
    }
}

